{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["tw"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
